# TRABALHO PRÁTICO 1

  O objetivo desse trabalho é avaliar a capacidade do aluno de gerar consultas em SQL a partir das questões propostas. Um Banco de Dados foi adaptado exclusivamente para esta tarefa, a partir dos dados de Documento de Empenho, Liquidação e Pagamento, disponibilizados em: 
*   [Portal da Transparência - Despesas](https://portaldatransparencia.gov.br/download-de-dados/despesas)

**IMPORTANTE**: 

1.   Altere apenas dentro das aspas duplas onde estiver escrito *Altere Aqui*. 
2.   Não serão necessárias alterações em funções ou outras partes do código.
3.   Após finalizar todas as consultas, clique em *Kernel -> Restart and Run All* no ambiente Jupyter.
4.   Altere o nome do arquivo *TP1_matricula.ipynb* adicionando o seu número de matrícula substituindo onde está escrito matrícula.
5.   Um arquivo *.csv* com a sua matrícula será gerado automaticamente no diretório do ambiente. 
6.   Compactar os arquivos *TP1_matricula.ipynb* e *matricula.csv* em *matricula.zip* e submeter na tarefa criada para o TP1 via Moodle.

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
import sys
!{sys.executable} -m pip install sqlite3
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install csv
!{sys.executable} -m pip install gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement csv (from versions: none)
ERROR: No matching distribution found for csv
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.10/dist-packages (4.6.6)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown) (3.12.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown) (2.27.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown) (4.65.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown) (2.4.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
import sqlite3 as sql3
import pandas as pd
import csv
import gdown

## Banco de Dados
Caso queira, você poderá fazer o download do banco de dados para explorá-lo:
*   [Banco de Dados - Despesas de Empenho](https://drive.google.com/file/d/1-dcxPb7DhPfBC1EQg2VzTXvTH28KxXH8/view?usp=share_link) 

**OBS**: Esse processo não é necessário para execução do trabalho, pois tudo o que você irá precisar, o próprio notebook já irá buscar, gerar e conectar ao banco fornecido, nas células 2 e 3.

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
!gdown "1-dcxPb7DhPfBC1EQg2VzTXvTH28KxXH8"

Downloading...
From: https://drive.google.com/uc?id=1-dcxPb7DhPfBC1EQg2VzTXvTH28KxXH8
To: /content/bancoDadosDespesas.sql
100% 41.4k/41.4k [00:00<00:00, 68.6MB/s]

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
con = sql3.connect(":memory:")
sql_file = open('bancoDadosDespesas.sql', encoding="utf8")
cur = con.cursor()
db = sql_file.read()
cur.executescript(db)
con.commit()

## Estrutura das Tabelas do Banco de Dados Despesas

Nas células de 5 a 9 abaixo, estão listadas as informações referentes aos campos e tipos de dados relacionados a todas as tabelas do Banco de Dados Despesas:

### TABELA EMPENHO

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('empenho')"
df = pd.read_sql(query, con)
display(df)

   cid            name                    type  notnull dflt_value  pk
0    0      id_empenho                 integer        0       None   1
1    1      id_unidade                 integer        1       None   0
2    2   id_favorecido                 integer        1       None   0
3    3  codigo_empenho   character varying(50)        1       None   0
4    4    data_emissao                    date        1       None   0
5    5      observacao  character varying(500)        0       None   0
6    6        processo  character varying(100)        1       None   0
7    7   valor_empenho                 numeric        1       None   0

### TABELA FAVORECIDO

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('favorecido')"
df = pd.read_sql(query, con)
display(df)

   cid             name                    type  notnull dflt_value  pk
0    0    id_favorecido                 integer        0       None   1
1    1  nome_fornecedor  character varying(100)        1       None   0
2    2               uf    character varying(2)        1       None   0

### TABELA ITEM_EMPENHO

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('item_empenho')"
df = pd.read_sql(query, con)
display(df)

   cid              name                     type  notnull dflt_value  pk
0    0   id_item_empenho                  integer        0       None   1
1    1        id_empenho                  integer        1       None   0
2    2         descricao  character varying(1000)        1       None   0
3    3        quantidade                  integer        1       None   0
4    4  valor_total_item                  numeric        1       None   0

### TABELA ORGAO

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('orgao')"
df = pd.read_sql(query, con)
display(df)

   cid          name                    type  notnull dflt_value  pk
0    0      id_orgao                 integer        0       None   1
1    1  codigo_orgao                 integer        1       None   0
2    2    nome_orgao  character varying(100)        1       None   0

### TABELA UNIDADE

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
query = "PRAGMA table_info('unidade')"
df = pd.read_sql(query, con)
display(df)

   cid            name                    type  notnull dflt_value  pk
0    0      id_unidade                 integer        0       None   1
1    1        id_orgao                 integer        1       None   0
2    2  codigo_unidade                 integer        1       None   0
3    3    nome_unidade  character varying(100)        1       None   0

## Arquivo de Resultados
Na célula 10 abaixo, você irá colocar o numero da sua matrícula. Essa é a primeira alteração necessária para executar o TP. A partir das células 10 e 11, o arquivo de resultado será gerado.

In [ ]:
matricula = "ALTERE AQUI - Digite a sua matrícula"

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
tp1_csv = matricula+".csv"
queries = open(tp1_csv, 'w')
writer = csv.writer(queries)
writer.writerow(["Query Number", "Query Size"])

25

## Função de Consulta
A função abaixo executa a consulta, exibe o retorno da consulta no banco e grava os dados necessários no arquivo resultado.

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
def runQuery(query, query_name):
  df = pd.read_sql(query, con)
  query_size = df.shape
  writer.writerow([query_name, query_size])
  #writer.writerow([query, df])
  display(df)

## PARTE 1 - Transformar Algebra Relacional para SQL
Abaixo, seguem as consultas que voce terá de transformar de Algebra Relacional para SQL. Altere **APENAS** o espaço entre as aspas. Dentro desse espaço é que você deverá digitar o comando de execução da consulta.

### 1 - $\pi_{nome\_fornecedor} \: \sigma_{uf  =  'SP'}$ (favorecido)

In [ ]:
a1 = "SELECT * FROM empenho"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a1, "a1")

,id_empenho,id_unidade,id_favorecido,codigo_empenho,data_emissao,observacao,processo,valor_empenho
0,504401556,2,7,2023NE000018,2017-10-01,ATENDER DESPESA A TITULO DE RESSARCIMENTO DE A...,23121.001183/2022-23,60000.00
1,504601777,3,3,2023NE000087,2018-05-01,ATENDER DESPESAS COM PRESTACAO DE SERVICOS DE ...,11060.727446/2020-49,2.00
2,504701525,2,12,2023NE000006,2023-01-01,ATENDER DESPESAS COM OBRIGACOES PATRONAIS DE C...,23121.001179/2022-65,300000.00
3,505301583,2,7,2023NE000012,2019-06-01,ATENDER DESPESA COM CONCESSAO DE ASSISTENCIA P...,23121.001182/2022-89,223000.00
4,505901545,2,7,2023NE000016,2022-01-22,ATENDER DESPESA COM AUXILIO-TRANSPORTE AOS SER...,23121.001182/2022-89,830000.00
...,...,...,...,...,...,...,...,...
65,531901586,2,7,2023NE000009,2018-01-01,ATENDER DESPESA COM SENTENCAS JUDICIAIS NAO TR...,23121.001176/2022-21,12209.28
66,532101552,2,7,2023NE000011,2019-01-01,ATENDER DESPESA COM O PAGAMENTO DO AUXILIO-CR...,23121.001182/2022-89,4000.00
67,532201577,2,7,2023NE000015,2019-11-06,ATENDER DESPESA COM AUXILIO-TRANSPORTE AOS EMP...,23121.001182/2022-89,67000.00
68,532201593,2,8,2023NE000036,2023-01-01,CONTRATO Nº 01/2019 - PREGAO ELETRONICO Nº 39/...,23121.000924/2018-72,100.00
69,532501553,2,7,2023NE000017,2023-01-01,ATENDER DESPESA A TITULO DE RESSARCIMENTO DE A...,23121.001183/2022-23,850000.00

### 2 - $\pi_{codigo\_empenho, valor\_empenho} \: \sigma_{valor\_empenho  >  1000000}$ (empenho)

In [ ]:
a2 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a2, "a2")

DatabaseError: ignored

### 3 - $\pi_{nome\_fornecedor, valor\_empenho} \: \sigma_{valor\_empenho  <  1000}$ (favorecido $\bowtie$ empenho )

In [ ]:
a3 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a3, "a3")

### 4 - $\pi_{nome\_unidade, valor\_empenho} \: \sigma_{codigo\_unidade = 152005}$ (empenho $\bowtie$ unidade)

In [ ]:
a4 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a4, "a4")

### 5 - $\pi_{id\_unidade, nome\_unidade} \: \sigma_{nome\_orgao = Ministério\  da\ Economia}$ (orgao $\bowtie$ unidade)

In [ ]:
a5 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(a5, "a5")

## PARTE 2 - Consultas SQL
Abaixo, seguem as consultas que voce terá de executar. Altere **APENAS** o espaço entre as aspas. Dentro desse espaço é que você deverá digitar o comando de execução da consulta.

### 1 - Liste os campos id_empenho, observacao e data_emissao para todos os empenhos com data de emissão entre 2020-01-01 e 2020-12-31:

In [ ]:
q1 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q1, "q1")

### 2 - Liste as 3 unidades federativas (uf) com menos favorecidos cadastrados e a quantidade de favorecidos destes Estados:

In [ ]:
q2 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q2, "q2")

### 3 - Liste o nome das unidades que começam com a palavra SUPERINTENDENCIA e o nome do orgão ao qual pertencem:

In [ ]:
q3 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q3, "q3")

### 4 - Liste os códigos de empenho que tenham a palavra COBRIR no campo observacao:
**OBS** (pesquisar a palavra em caixa alta).

In [ ]:
q4 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q4, "q4")

### 5 - Liste, em ordem crescente, os nomes de todos os fornecedores que tenham mais de 1 empenho, exibindo também a quantidade de empenhos relacionados à cada um deles:

In [ ]:
q5 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q5, "q5")

### 6 - Liste, em ordem crescente, o nome das unidades e a soma do valor de todos os itens pertencentes a cada uma delas:

**Desafio**: Para tratar o erro de soma dos flutuantes na consulta, você pode reduzir o numero de casas decimais que serão exibidos.

In [ ]:
q6 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q6, "q6")

### 7 - Liste o nome dos orgãos que tenham mais de 10 favorecidos e a quantidade de favorecidos relacionados à cada orgão:

In [ ]:
q7 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q7, "q7")

### 8 - Liste o id de todos os empenhos que tenham alguma relação com o orgão Ministério da Saúde:

In [ ]:
q8 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q8, "q8")

### 9 - Liste o nome das unidades que possuem favorecidos em MG:

In [ ]:
q9 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q9, "q9")

### 10 - Liste, em ordem crescente, a descriçãoo dos itens de empenho relacionados ao orgão do Ministério da Saúde:

In [ ]:
q10 = "ALTERE AQUI - Digite a consulta SQL correspondente"
#NÃO ALTERE AS LINHAS ABAIXO
runQuery(q10, "q10")

# Finalizando o Banco de Dados e o Arquivo de Consultas gerado:

In [ ]:
#NÃO ALTERE AS LINHAS ABAIXO
queries.close()
con.close()

## Compactando Arquivos
Na célula abaixo, substitua onde está escrito MATRÍCULA pelo seu número de matrícula.

In [ ]:
#ALTERE ONDE ESTÁ ESCRITO MATRICULA para o numero de sua Matrícula
!zip -r "MATRICULA.zip" "TP1_matricula.ipynb" "MATRICULA.csv"

**LEMBRE-SE:** Após finalizar todas as consultas, clique em *Kernel -> Restart and Run All* no ambiente Jupyter!